/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}

#hero {
    display: block;
    margin: 0 auto;
    background-image: url("images/torshov.jpg");
    background-size: cover;
    padding: 80px;
    color: #F1FAEE;
}

.title {
    color: #F1FAEE;
    /* font-family: 'Arial Black', sans-serif; */
    margin: 20px auto;
    width: 200px;
    padding: 5px 10px;
    background-color: #457B9D;
    border-radius: 5px;
}

.subtitle {
    color: #F1FAEE;
    margin: 0 auto;
    width: 500px;
    padding: 5px 10px;
    background-color: #1D3557;
    border-radius: 5px;
    font-size: 20px;
}

#activities {
    padding: 20px 10px;
    background-color: #A8DADC;
    font-size: 20px;
}

.subtitle2 {
    margin-bottom: 20px;
    color: #1D3557;
}

.activities-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.activity-img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    object-fit: cover;
}

#guide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #F1FAEE;
    border-radius: 5px;
    border-bottom: 5px solid #E63946;
    width: 300px;
    margin: 20px auto;
}

.guide-img {
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
}

.guide-text {
    color: #1D3557;
}
.guide-text p {
    font-style: italic;
}
